*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: antiquewhite;
}
.navbar{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(95, 80, 10);
    padding:10px 30px;
}

.logo img{
    height:50px;
}

.nav-links a{
    color:white;
    margin-left:15px;
    text-decoration: none;
    font-size:20px;
}
.nav-links a:hover{
    color:black;
    background-color: rgb(235, 216, 48);
    border-radius:15%;
    padding:10px;
    text-shadow: 2px 2px 1.5px green;
    border:5px solid rgb(163, 163, 83);
}

/* Hero section start here */
.hero-section{
    height:87.7vh;
    width:100%;
    position: relative;
    overflow: hidden;
}

.hero-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(60%);
}

.hero-content{
    position:absolute;
    transform: translate(-50%,-50%);
    top:50%;
    left:50%;
    text-align:center;
    color:white;
    font-size:20px;
    font-weight:600;
}

/* Buttons */
.hero-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.btn{
    text-decoration: none;
    background-color: #ffc107;
    color:black;
    font-size:20px;
    font-weight:600;
    border-radius:50px;
    padding:10px 20px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.btn:hover{
    background-color:bisque;
    transform:scale(1.1);
    box-shadow:2px 2px 3px green;
}

.btn-secondary {
  background-color: #ffffff;
  color: #0d6efd;
}

.btn-secondary:hover{
    background-color:rgb(243, 227, 10);
    transform:scale(1.1);
    box-shadow:2px 2px 3px rgb(75, 75, 75);
}